spring:
  datasource:
    url: jdbc:postgresql://localhost/pivot-texts
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver

security:
  user:
    name: lkjdfoipj80ejiorg
    password: p9ad8fhgnlakdg

pivots:
  url: https://pivots.pivotallabs.com/api/users.json
  email: test-email
  authToken: test-auth
